$green-gradient: linear-gradient(#3cf166, #17de24);
$orange-gradient: linear-gradient(#f5e144, #ffa30f);
$red-gradient: linear-gradient(#fa2020, #ef0049);

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xsm {
    @media (max-width: 550px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xl {
    @media (max-width: 1500px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

@mixin respond-h($breakpoint) {
  @if $breakpoint == height-sm {
    @media (max-height: 600px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%;
  //font-size: 68%;
  @include respond(desktop-xl) {
    font-size: 53%;
  }

  @include respond(desktop-md) {
    font-size: 45%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Nunito Sans', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  min-width: 24.4rem;
  padding: 4.2rem 3rem;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.06);
  z-index: 1000;

  &-body {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }

  &-info {
    &-img {
      width: 6.7rem;
      height: 6.7rem;
      border-radius: 50%;
    }

    &-name {
      padding-left: 1.3rem;
      font-size: 1.7rem;
      font-weight: 600;
      color: #002257;

      & span {
        display: inline-block;
        width: 0.7rem;
        height: 0.7rem;
        margin-left: 0.7rem;
        background-color: #2ebd41;
        border-radius: 50%;
      }
    }

    &-title {
      padding-left: 1.3rem;
      font-size: 1.35rem;
      font-weight: 600;
      color: #969ead;
    }
  }

  &-group {
    padding-top: 4rem;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      padding-top: 3.5rem;
    }

    & .list-unstyled {
      margin: 0;
    }

    h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.42;
      color: #687181;
    }

    & select {
      height: 3.5rem;
      width: 100%;
      margin-top: 0.7rem;
      padding: 0 0.7rem;
      font-size: 1.2rem;
      border-color: #eaebee;
      color: #002257;
      border-radius: 3px;
    }

    & .list-unstyled {
      & li {
        & a {
          display: inline-block;
          height: 1.8rem;
          margin-top: 1.7rem;
          text-decoration: none;
          font-size: 1.3rem;
          line-height: 1.69;
          color: #002257;
        }

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

.results {
  height: 100%;
  width: 100%;
  background-color: #f8f9fb;
  padding: 4.1rem 4.6rem 2.8rem 3.4rem;
  overflow: auto;

  &-header {
    
    &-logout {
      height: 2rem;
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: #6e747e;

      & a {
        color: #6e747e;
        font-weight: 600;
      }

      & i {
        margin-top: 0;
        margin-left: -3px;
        font-size: 1.8rem;
        color: #6e747e;
      }
    }

    & h2 {
      height: 3.7rem;
      margin: 0;
      margin-bottom: 6.4rem;
      margin-top: .5rem;
      font-size: 2.7rem;
      font-weight: 600;
      line-height: 1.37;
      color: #1a173b;
    }
  }

  &-body {
    font-family: 'Lato', sans-serif;
    height: 72vh;

    & .invite {
      position: relative;
      max-width: 82rem;
      min-height: 70rem;
      height: 100%;
      max-height: 80rem;
      padding: 2.8rem 2.3rem;
      border: solid 1.5px #eaebee;
      border-radius: 3px;


    & h3 {
      margin-bottom: 3.1rem;
      font-size: 1.9rem;
      font-weight: 700;
      letter-spacing: 0.13px;
      color: #1a173b;
    }

    & .input {

        position: relative;
        //width: 100%;
        width: 28rem;

        // @include respond(desktop-xsm) {
        //   width: 80%;
        // }

        & .suggestion-container {
          width: 100%;
          position: absolute;
          bottom: 0;
          display: none;
          height: 30rem;
          transform: translate(0, 100%);
          //position: relative;
          width: 100%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border-top: none;
        }


      & label {
        display: block;
        margin-bottom: .9rem;
        font-size: 1rem;
        font-weight: 700;
        color: #000000;
      }

      & input {
        width: 100%;
        height: 4.45rem;
        padding: 1.3rem 1.5rem;
        margin-bottom: 3.3rem;
        font-size: 1.4rem;
        //border: solid 2px #0077ff;
        border: solid 1.3px #c3cad9;
        background-color: #ffffff;

        @include respond(desktop-lg) {
          width: 30.4rem;
          height: 4.8rem;
        }

        @include respond(desktop-md) {
          width: 100%;
        }

        &:focus {
          outline: none;
          border: solid 2px #0077ff;

        }

        &:focus ~ .suggestion-container  .search-suggestion{
          display: block;
          //background-color: red;
        }

        &:focus ~ .suggestion-container {
          display: block;
          //background-color: red;
        }

        &::placeholder {
          font-size: 1.4rem;
          color: #959ead;
        }
      }

      & .search-suggestion {
          display: none;
          height: 26rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background-color: #ffffff;
          transform: translate(0, 0);
          z-index: 500;
          overflow: auto;

          @include respond(desktop-sm) {
            width: 100%;
          }

          &-item {
            height: 5.2rem;
            padding: 2rem 1.6rem 2.5rem 1.6rem;

           &:hover {
              color: #FFF;
              background-color: #0077ff;

              & p {
                color: #FFF;
              }
           }

            & p {
              margin: 0;
            }

            & .team {
              padding-top: 5px;
              margin-bottom: -2px;
              font-size: 1.4rem;
              color: #000a19;
            }

            & .people {
              font-size: 1.2rem;
              color: #5e636b;
            }
          }

          &-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3.9rem;
            border: solid 1px #f2f2f2;
            padding-left: 1.6rem;
            font-size: 1.4rem;
            color: #000a19;
            background-color: #FFF;

            & i {
              margin-right: .8rem;
            }

            & a {
              margin-left: .5rem;
            }
          }
      }
    }
    & .btn-custom-invitation {
        // position: absolute;
        // bottom: 7.2rem;
        // left: 2.1rem;
        margin-top: auto;
        width: 15rem;
        height: 4rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #FFF;
        border: none;
        border-radius: 3px;
        background-color: #0077ff;
        outline: none;
        
    }
  }
}
}
